name: about.documentize.cloud
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout theme repo
      uses: actions/checkout@v4
      with:
          repository: smallize/documentize
          token: ${{ secrets.REPO_TOKEN }}
          fetch-depth: 0 
          submodules: true
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
          hugo-version: '0.135.0'
          extended: true
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install autoprefixer
      run: npm install -D --save autoprefixer
    - name: Install postcss-cli
      run: npm install -D --save postcss-cli
    - name: Build 
      run: hugo --config "configs/about.documentize.cloud.toml","configs/common.documentize.cloud.toml" -b "https://about.documentize.cloud" --cleanDestinationDir --minify --templateMetrics --templateMetricsHints --enableGitInfo
    - name: Deploy
      run: hugo deploy --config "configs/about.documentize.cloud.toml" --maxDeletes=-1 --target "production" --invalidateCDN --force
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS }}
    - name: Deploy to Ceph (production)
      run: hugo deploy --config "configs/about.documentize.cloud.toml" --target "production_ceph" --force
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.CEPH_ABOUT_DOCUMENTIZE_CLOUD_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.CEPH_ABOUT_DOCUMENTIZE_CLOUD_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-east-1
